<router-outlet></router-outlet>

<form action="">
  <app-input
    [label]="'test'"
    [id]="'test'"
    [(inputModel)]="test"
    [type]="'text'"
    [required]="true"
  ></app-input>

  <app-radio-button
    [(radioBtnModel)]="testRadioButton"
    [name]="'test'"
    [options]="datas"
  ></app-radio-button>

  <app-text-area
    [label]="'test'"
    [id]="'test'"
    [(textAreaModel)]="testTextArea"
    [required]="true"
  ></app-text-area>
  <app-text-area
    [label]="'test'"
    [id]="'test'"
    [(textAreaModel)]="testTextAreaMedium"
    [size]="'medium'"
  ></app-text-area>
  <app-text-area
    [label]="'test'"
    [id]="'test'"
    [(textAreaModel)]="testTextAreaLarge"
    [size]="'large'"
  ></app-text-area>

  <app-select
    [(selectModel)]="testSelect"
    [options]="datasSelect"
    [name]="'test'"
    [label]="'test'"
  ></app-select>
</form>
