<h2 [textContent]="TEXTE.TITRE.JOURS_FERIES"></h2>
<app-select
  [(selectModel)]="annee"
  [options]="anneeOptions"
  [name]="'choixAnnee'"
  [label]="TEXTE.LABEL.ANNEE"
  [required]="required"
></app-select>
<app-select
  [(selectModel)]="mois"
  [options]="moisOptions"
  [name]="'choixJoursFeries'"
  [label]="TEXTE.LABEL.MOIS"
  [required]="required"
></app-select>
<table>
  <tr *ngFor="let absence of absences; let i = index">
    <td
      *ngIf="
        absence.date!.substring(0, 4) === this.annee &&
        absence.date!.substring(5, 7) == this.mois
      "
    >
      {{ absences[i].libelle! }} | {{ absences[i].date | date: "fullDate" }}
    </td>
  </tr>
</table>
